body {
  margin: 0;
  background-color: #f9f9f9; }

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.example-vanilla {
  margin: 40px;
  color: steelblue;
  font-size: 4rem; }

.example-d3 svg {
  fill: steelblue;
  font-size: 4rem; }
